* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1000px;
    margin: auto;
}

section {
    padding-top: 10px;
}

.title {
    text-align: center;
    margin: 10px;
}

td , th{
    padding: 10px;
}

.parent-table {
    width: 100%;
    border: 2px solid pink;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table{
    border-collapse: collapse;
}

.parent-table th,
.parent-table tr,
.parent-table td {
    border: 3px solid pink;
}

.tr-parent {
    background-color: rgb(25, 242, 25);
}

.tr-parent th {
    padding: 10px;
}